<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= javascript_include_tag "window.js" %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
        <% if user != current_user %>
            <%= link_to user.name, user %>
        <% end %>
    </li>
  <% end %>
    <% if @rooms %>
        <% @rooms.each do |room| %>
            <li><%= link_to "ROOM#{room.id}", room_path(room) %></li>
        <% end %>
    <% end %>
    <%= link_to "ROOM新規作成", create_path %>
</ul>