<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>
<%= javascript_include_tag "window.js" %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
        <% if user != current_user %>
            <%= link_to user.name, user %>
        <% end %>

    </li>
  <% end %>

    <!-- <% if @rooms %>
        <% @rooms.each do |r| %>
            <li><%= link_to "ROOM#{r.id}", room_path(r) %></li>
        <% end %>
    <% end %>
    <%= link_to "ROOM新規作成", "create/#{@rooms}" %> -->
</ul>