<% provide(:title, 'ルーム一覧') %>
<h1>ルーム一覧</h1>
<%= javascript_include_tag "window.js" %>
<ul class="users">
  <% @users.each do |user| %>
        <% if user != current_user %>
            <% user.id < current_user.id ? roomid = ("#{user.id}" + "#{current_user.id}").to_i : roomid = ("#{current_user.id}" + "#{user.id}").to_i %>
            <% if room = @rooms.find_by(id: roomid) %>
                <li>
                    <%= link_to user.name, room_path(room) %>

                </li>
            <% else %>
                <li><%= link_to user.name, "create/#{roomid}" %></li>
            <% end %>
        <% end %>
  <% end %>

</ul>